<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mreservation.dao.MRservationMapper">
	<select id="movieList" resultType="Movie">
		select * from movie order by movie_title
	</select>
</mapper>